extends ./pxl-layout.jade
block contenido
	section(class="row")
		div(class="col-full")
			h2 Centros de Acopio
			include mensaje2.jade

	section(class="row")
		div(class="col-full")
			.form-group
				include buscador.jade
			table(class="table table-hover" id="my-table")
				thead
					tr
						th Nombre
						th Dirección
						th Municipio
						th Zona
				tbody
					each centro in centros
						tr
							td= centro.nombre
							td= centro.direccion
							td= centro.municipio
							td= centro.zona
