extends ./pxl-layout.jade
block contenido
	section(class="row")
		div(class="col-full")
			h2 Personas que han Fallecido (identificadas)
			include mensaje.jade



	section(class="row")
		div(class="col-full")
			p Cantidad personas Fallecidas #{fallecidos.length}
			form-group
				include buscador.jade
			table.table.table-hover(id="my-table")
				thead
					tr
						th Nombre Fallecido
						th edad
				tbody
					each fallecido in fallecidos
						tr.lista
							td= fallecido.nombre
							td= fallecido.edad
