extends ./pxl-layout.jade
block contenido
	div(id="content")
		section(class="intro")
			h1 Unidos todos por una misma causa, ¡ayudar!
			p El objetivo de esta página es unificar toda la información posible de diferentes medios y poder asi ayudar a orientar a las personas que quieren contribuir o informarse

		section(class="row")
			each twit in twits.statuses
				img(src="#{twit.user.profile_image_url}", width="50px", height="50px")
				p= twit.user.name
				p= twit.text

		section(class="row")
			div(class="col-full")
				h2 QUIENES SOMOS
				p Somos un acomunidad de desarrolladores que por medio de la tecnología queremos contribuir y ayudar.
