p Gracias al inmenso apoyo de todos los vecinos y demás colaboradores de la ciudad, los centros de acopio en Santa Catarina Pinula están totalmente abastecidos de insumos. Les estaremos informando cuando se abran nuevamente las puertas para donaciones.
p.alert.alert-success De momento las necesidades que se tienen son de gente con experiencia en bodegas, para liderar a voluntarios y organizar insumos en centros de acopio.
p De nuevo ¡Millones de gracias a todos!
//p Para todas las personas que desean colaborar con víveres, recuerden que no es únicamente para estos primeros días de crisis, pues se vienen días, semanas y hasta meses duros para las personas que han sido rescatadas, por lo que necesitan comida enlatada con preservantes para poder mantenerlos por mucho tiempo en el pasar de los días.
//p esta información fue recolectada de diferentes medios de comunicación y se reunio con el fin de mantener la informacion lo más centralizada posible.
