li #[a(href="/centrosAcopio" class="bordered") Centros de Acopio]
li #[a(href="/desaparecidos" class="bordered") Desaparecidos]
li #[a(href="/fallecidos" class="bordered") Fallecidos]
li #[a(href="/quellevar" class="bordered") ¿Que puedo llevar?]
li #[a(href="/voluntarios" class="bordered") Voluntarios y Colaboradores]
li #[a(href="/empresasApoyan" class="bordered") Empresas que Apoyan]
li #[a(href="/noticias" class="bordered") Noticias]
li #[a(href="/mapa" class="bordered") ¿Donde se habla de esto?]
li #[a(href="https://play.google.com/store/apps/details?id=byron.cambray.operacion.operacioncambray" target="_blank" class="bordered" ) Descarga el app]
