section(class="row")
	div(class="col-full")
		a(href="/add/centro") Nuevo centro
		= " - "
		a(href="/add/desaparecido") Ingresar Desaparecido
		= " - "
		a(href="/add/fallecido") Ingresar Fallecido
		= " - "
		a(href="/add/Noticia") Ingresar Noticias
		= " - "
		a(href="/add/empresa") Ingresar Empresa
		= " - "
		a(href="/add/voluntario") Ingresar Voluntario
