extends ./pxl-layout.jade
block contenido
	section(class="row")
		div(class="col-full")
			h2 Noticias
			include mensaje.jade

	section(class="row")
				each noticia in noticias
					div.col-sm-6.pxl-noticia
						div(class="media")
							div(class="media-left")
									span(class="glyphicon glyphicon-asterisk pxl-color-tres")
								div(class="media-body")
									h4(class="media-heading") #{noticia.titulo}
									!= noticia.contenido
									p
										a.btn.btn-danger(href="http://www.facebook.com/share.php?u=http://www.operacioncambray.com/noticias/&t=Titulo+titulo+titulo") #[i.icon.ion-social-facebook]
										= " "
										a.btn.btn-danger(href="http://twitter.com/share?url=http://www.operacioncambray.com/noticias/&text=#{noticia.contenido}") #[i.icon.ion-social-twitter]
