extends ./pxl-layout.jade
block contenido
	section(class="row")
		div(class="col-full")
			h2 Personas Encontradas
			include mensaje.jade



	section(class="row")
		div(class="col-full")
			.form-group
				label(for="").col-sm-2.control-label
				input(type="search", name="", id="", value="", required="required", title="" placeholder="buscar persona").form-control

			table.table.table-hover
				thead
					tr
						th Nombre
						th edad
						th estado
				tbody
					tr
						td Nombre
						td edad
						td estado
					tr
						td Nombre
						td edad
						td estado
					tr
						td Nombre
						td edad
						td estado
