doctype html
html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="shortcut icon" href="/img/opeC.png")
	link(rel="stylesheet" href="/css/pxl-style.css")
	link(rel="stylesheet" href="/css_tema/vendor/fluidbox.min.css")
	link(rel="stylesheet" href="/css_tema/main.css")
	link(rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css")

	link(rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="60x60" href="/img/favicon//apple-icon-60x60.png")
	link(rel="apple-touch-icon" sizes="72x72" href="/img/favicon//apple-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="/img/favicon//apple-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="/img/favicon//apple-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="/img/favicon//apple-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="/img/favicon//apple-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="/img/favicon//apple-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon//apple-icon-180x180.png")
	link(rel="icon" type="image/png" sizes="192x192"  href="/img/favicon//android-icon-192x192.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon//favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="96x96" href="/img/favicon//favicon-96x96.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon//favicon-16x16.png")
	link(rel="manifest" href="/img/favicon//manifest.json")
	meta(property="og:title" content="Operación Cambray")
	meta(property="og:image" content="/img/opCambray.jpg")
	meta(property="og:description" content="Unidos todos por una misma causa, !ayudar¡")
	meta(property="og:url" content="http://www.operacioncambray.com")


	title Operación Cambray
body
	header
		div(id="logo-container")
			div(id="logo") #[a(href="/") Operación Cambray]
			div(id="subtitle") Todos unidos por una misma causa

		nav
			ul
				li #[a(href="/centrosAcopio" class="bordered") Centros de Acopio]
				li #[a(href="/desaparecidos" class="bordered") Desaparecidos]
				li #[a(href="/fallecidos" class="bordered") Fallecidos]
				li #[a(href="/quellevar" class="bordered") ¿Que puedo llevar?]
				li #[a(href="/voluntarios" class="bordered") Voluntarios y Colaboradores]
				li #[a(href="/empresasApoyan" class="bordered") Empresas que Apoyan]
				li #[a(href="/noticias" class="bordered") Noticias]
	div(id="content")
		block contenido
		section(class="row")
			div(class="col-full")
				p.pxl-creditos este sitio fue creado con el apoyo de la comunidad del código #[span(class="pxl-color-tres") Walter Cordero, Roberto S. Lopéz, Davincho MoCa, Byron Martinez].
				p.pxl-creditos también con la colaboración de #[span(class="pxl-color-tres") Jeremy Marroquin, Isabel Escriba, Silvia Quel, Silvana Vanfretti ]
	script(src="/bower/jquery/dist/jquery.min.js")
	script(src="/js/vendor/jquery.1.11.min.js")
	script(src="/js/vendor/jquery.fluidbox.min.js")
	script(src="/js/main.js")
