extends ./pxl-layout.jade
block contenido
	section(class="row")
		div(class="col-full")
			h2 ¿Que puedo llevar?
			include mensaje2.jade

	section(class="row")
		h2 Fase de rehabilitación para personas damnificadas

		table.table.table-hover
			thead
				tr
					td #[h2 Artículos de primera necesidad para niños]
			tbody
				tr
					td Compotas
				tr
					td Fórmula para lactantes
				tr
					td Ropa de bebé (en buen estado)
				tr
					td Ensure

		table.table.table-hover
			thead
				tr
					td #[h2 Medicina]
			tbody
				tr
					td Acetaminofén
				tr
					td Ibuprofeno
				tr
					td Suero líquido
				tr
					td Suero en polvo
				tr
					td Pepto Bismol
				tr
					td Colit
				tr
					td Insulínicos
				tr
					td Alcohol
				tr
					td Algodón
				tr
					td Gasas
				tr
					td Curitas
				tr
					td Jeringas
				tr
					td Antibiótico
				tr
					td Antibiótico intestinal
				tr
					td Analgésicos
				tr
					td Antihipertensivos
				tr
					td Prenatales

		table.table.table-hover
			thead
				tr
					td #[h2 Otras donaciones]
			tbody
				tr
					td Ataúdes para adulto
				tr
					td Ataúdes para niño

		table.table.table-hover
			thead
				tr
					td #[h2 Materiales de Construcción]
			tbody
				tr
					td Láminas
				tr
					td Clavos
				tr
					td Madera
				tr
					td Blocks
				tr
					td Cemento
				tr
					td Cal
				tr
					td Pintura
