extends ./pxl-layout.jade
block contenido
	section(class="row")
		div(class="col-full")
			h2 Que puedo llevar?
			p Para todas las personas que desean colaborar con víveres, recuerden que no es únicamente para estos primeros días de crisis, pues se vienen días, semanas y hasta meses duros para las personas que han sido rescatadas, por lo que necesitan comida enlatada con preservantes para poder mantenerlos por mucho tiempo en el pasar de los días.
			p esta información fue recolectada de diferentes medios de comunicación y se reunio con el fin de mantener la informacion lo más centralizada posible.

	section(class="row")
		table.table.table-hover
			thead
				tr
					td #[h2 Alimentos]
			tbody
				tr
					td Agua pura
				tr
					td Aceite
				tr
					td Azúcar
				tr
					td Arroz precocido
				tr
					td Frijol en grano
				tr
					td Frijol en lata
				tr
					td Harina de maíz
				tr
					td Sal yodada
				tr
					td Sopas instantáneas
				tr
					td Incaparina
				tr
					td Leche en polvo
				tr
					td Pan
				tr
					td Atol fortificado
				tr
					td Enlatados
				tr
					td Fruta fresca
				tr
					td Jugos de caja
				tr
					td Alimentos no perecederos


	section(class="row")
		table.table.table-hover
			thead
				tr
					td #[h2 Higiene personal]
			tbody
				tr
					td Cepillo de dientes
				tr
					td Pasta dental
				tr
					td Papel higiénico
				tr
					td Jabón en barra
				tr
					td Sobres de shampoo
				tr
					td Toallas
				tr
					td Peines
				tr
					td Cremas humectantes
				tr
					td Deshodorantes
				tr
					td Toallas sanitarias
				tr
					td Pañales
				tr
					td Toallitas húmedas


	section(class="row")
		table.table.table-hover
			thead
				tr
					td #[h2 Artículos de limpieza]
			tbody
				tr
					td Escobas
				tr
					td Trapos de limpieza
				tr
					td Cloro
				tr
					td Desinfectante
				tr
					td Jabón en polvo
				tr
					td Bolsas de basura
				tr
					td Guantes de hule
				tr
					td Cubetas

	section(class="row")
		table.table.table-hover
				thead
					tr
						td #[h2 Vestimenta y hogar]
				tbody
					tr
						td Ropa de niño
					tr
						td Ropa de adulto
					tr
						td Abrigos
					tr
						td Almohadas
					tr
						td Sábanas
					tr
						td Colchones
					tr
						td Ollas
					tr
						td Platos desechables
					tr
						td Cubiertos desechables
					tr
						td Vasos
					tr
						td Pachones para agua
					tr
						td Somieres
					tr
						td Colchones inflables
					tr
						td Zapatos


	section(class="row")
		table.table.table-hover
			thead
				tr
					td #[h2 Otros]
			tbody
				tr
					td Linternas
				tr
					td Baterías
				tr
					td Vendas
				tr
					td Agua oxigenada
				tr
					td Yodo
				tr
					td Alcohol etílico como desinfectante
				tr
					td Hornillas de gas
				tr
					td Gas propano
				tr
					td Fósforos
				tr
					td Recipientes para almacenar agua
