extends ./pxl-layout.jade
block contenido
	section(class="row")
		div(class="col-full")
			h2 Voluntarios
			p Los voluntarios y colaboradores no sólo han donado su tiempo, también han donado amor, entrega y pasión.
			p "¡Millones de gracias para todos!"



	section(class="row")
		div(class="col-full")
			p Total de Voluntarios #{voluntarios.length}
			.form-group
				include buscador.jade
			table.table.table-hover(id="my-table")
				thead
					tr
						th Nombre Voluntario
				tbody
					each voluntario in voluntarios
						tr
							td= voluntario.nombre
