@import '../pxl-general.less';

html, body{
	height: 100% !important;
	width: 100% !important;
	background-color: #fff !important;
}

.pxl-table{
	display: table;
	width: 100%;
}

.pxl-cell{
	display: table-cell;
	vertical-align: middle;
}


.pxl-creditos{
	font-size: 10px !important;
	color: @pxl-color-cuatro;
}

.pxl-color-tres{
	color: @pxl-color-tres
}

.pxl-img{
	width: 100%;
	height: auto;
}

.pxl-noticia{
	padding-bottom: 20px;
	padding-top: 20px;
}
