@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html,
body {
  height: 100% !important;
  width: 100% !important;
  background-color: #fff !important;
}
body ::-webkit-scrollbar {
  /* cuerpo del scrollbar */
  width: 10px;
}
body ::-webkit-scrollbar-track {
  /* espacio de scroll */
}
body ::-webkit-scrollbar-track-piece {
  /* area bacia de barra scroll */
}
body ::-webkit-scrollbar-thumb {
  /* barra de scroll */
  background: #e85151;
}
.pxl-table {
  display: table;
  width: 100%;
}
.pxl-cell {
  display: table-cell;
  vertical-align: middle;
}
.pxl-creditos {
  font-size: 10px !important;
  color: #989a9b;
}
.pxl-color-tres {
  color: #e85151;
}
.pxl-img {
  width: 100%;
  height: auto;
}
.pxl-noticia {
  padding-bottom: 20px;
  padding-top: 20px;
}
.pxl-twits {
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 20px;
}
.padding-cero {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.pxl-icon-twit {
  margin-top: 10px;
  margin-bottom: 10px;
}
#pxl-menu-mobil {
  display: none;
  margin-top: 20px;
  width: 100% !important;
  background-color: initial !important;
  border-color: initial !important;
  border: 2px solid #e85151 !important;
}
#pxl-menu-mobil .bordered {
  border-radius: 0.2em;
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: initial !important;
  color: #e85151 !important;
}
.navbar-default .navbar-toggle {
  border-color: initial !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e85151 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e85151 !important;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: initial !important;
}
@media only screen and (max-width: 767px) {
  .menu-escritorio {
    display: none;
  }
  #pxl-menu-mobil {
    display: block;
  }
}
